[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
drf-spectacular = "*"
drf-yasg = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.12"
